<h1>投稿一覧</h1>
<div class="top-image">
    <img src="toplogo.png" class="top-image">
</div>
 <div class="top-comment">
  <div class="ribbon6">
   <h3>あなたのオススメの薬をシェアしよう</h3>
 </div>
<%= render @posts %>